beautifulsoup4==4.9.0
certifi==2022.12.7
chardet==3.0.4
deplicate==1.2.3
directio==1.2
HTMLParser==0.0.2
idna==2.9
lxml==4.6.5
psutil==5.7.0
py3-wetransfer==1.0.3
pyimgur==0.6.0
requests==2.23.0
requests-toolbelt==0.9.1
Send2Trash==1.5.0
soupsieve==2.0
urllib3==1.26.5
wetransferpy==0.2.3
xxhash==1.4.3
